.optionsContainer {
  margin-bottom: 40px;
}

.optionsList {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.optionGood,
.optionNeutral,
.optionBad,
.showButton,
.buttonReset {
  font-size: 20px;
  height: 75px;
  width: 150px;
  color: black;
  background: salmon;
}

.optionGood:hover,
.optionGood:active,
.optionNeutral:hover,
.optionNeutral:active,
.optionBad:hover,
.optionBad:active,
.showButton:hover,
.showButton:active,
.buttonReset:hover,
.buttonReset:active {
  color: black;
  background: transparent;
  border: 2px solid salmon;
}
