.optionsContainer {
  margin-bottom: 40px;
}

.optionsList {
  display: flex;
  justify-content: space-evenly;
}

.hideButton {
  display: none;
}

.optionGood:hover,
.optionGood:active,
.optionNeutral:hover,
.optionNeutral:active,
.optionBad:hover,
.optionBad:active,
.showButton:hover,
.showButton:active,
.buttonReset:hover,
.buttonReset:active {
  color: black;
  background: transparent;
  border: 3px solid black;
}
